In [2]:
import pandas as pd
import numpy as np

In [3]:
data_user = pd.read_csv('D:/yelp/users.csv',index_col = 0)
data_user.head()
data_review = pd.read_csv('D:/yelp/IL_review.csv',index_col = 0)
data_review.head()

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\anaconda\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,m4AXzV9l14iFBd9DRdM82w,6X0i-oGUbh5DZdTHzFuKfg,9A1C1f0m4nQltQrOOTl-Kw,1.0,11,1,0,The building is lovely. The remodel after But...,2013-12-07 02:26:13,2013
1,A-yKlSLEQQcoHR5q2lCyHg,Yximlvn0cfb3yVDaLuXDxw,VHsNB3pdGVcRgs6C3jt6Zg,5.0,1,0,0,LOVE LOVE LOVE this place! I'm a bit of a suck...,2013-08-03 19:59:56,2013
2,asLnux3k2yqoVjcJcLuF0g,Cz8l7JQ2I_RhtK0BosH-7Q,Ah4i15g8Ow_zphzcpulTxQ,4.0,0,0,0,The bread company is perfect for lunch. The pr...,2015-12-05 05:38:55,2015
3,YIMS3PGxfWN5iFIIcYJHEg,m7rosN4Yh__tXkWP0_myqw,9MnbQg7kfb_WgxoV0hXKSQ,5.0,1,0,0,This is the best restaurant under $30 per plat...,2015-06-21 01:54:38,2015
4,CWjzk0w-OZwzOmCut-6bvQ,iYwDTxhYStsIDHB514ltjA,t_yiQnxUDdPPCN2z4QyezA,5.0,1,0,1,"If you want REAL, AUTHENTIC asian food, this i...",2015-09-23 23:23:51,2015

In [8]:
#filter the users from Illinois
unique_IL_users = data_review.user_id.unique()
user_idx = [i for i in range(data_user.shape[0]) if data_user.user_id[i] in unique_IL_users]
user_df = data_user.iloc[user_idx,:]

(12859, 22)

In [12]:
user_df.shape
user_df.head()
user_df.user_id.nunique()

12859

In [18]:
len(unique_IL_users)

12859

In [20]:
user_df[~user_df.user_id.isin(unique_IL_users)]

Empty DataFrame
Columns: [user_id, name, review_count, yelping_since, useful, funny, cool, elite, friends, fans, average_stars, compliment_hot, compliment_more, compliment_profile, compliment_cute, compliment_list, compliment_note, compliment_plain, compliment_cool, compliment_funny, compliment_writer, compliment_photos]
Index: []

[0 rows x 22 columns]

In [21]:
user_df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
51,fcNU65OaCj7slBJ60VSQgw,Steven,1204,2007-07-08 16:56:40,4907,2674,2718,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2016","T-CVPEYAAJFWGzXaxSt8eg, zyhHd6AeavKVdOAXAPz-DQ...",89,...,14,12,6,4,79,141,183,183,57,12
54,4mjnkd8oJVCfBKN3i4rB-g,Tricia,1247,2008-11-27 02:24:47,3967,2631,2491,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2018","RO3vznPVVw5NWcgfP3k17A, azPMZoWkxdyjpnFul3aBQw...",141,...,26,25,15,10,127,236,227,227,124,102
96,ZdYHJ-hctaaDeH1CpP7-EA,Colleen,266,2009-08-08 16:46:46,491,103,152,"2010,2011,2012,2013,2014","ouODopBKF3AqfCkuQEnrDg, QowYhZNL0T3UOi1FLG5VYQ...",11,...,4,2,3,0,14,16,17,17,5,3
297,JWgti_adPZywG9SKUbnB-w,Sarah,141,2007-11-12 02:56:43,227,76,42,2015,"-X2qJ65I4Gz3UznpJqqS7Q, XrrXU5whFrQo_3wpiKhpaw...",1,...,2,0,0,0,5,3,5,5,2,1
303,PIzmdHF7p9GwXhwt3b3JxQ,Sasuke,112,2008-07-15 19:06:06,154,57,35,NaN,"wPkrThYsvs-pii7Ac1Hk9w, nO4bSABjYmR3MVvVjC0EeQ...",7,...,3,0,0,0,3,4,1,1,4,0

In [22]:
#fix the index
user_df.index = range(user_df.shape[0])
user_df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,fcNU65OaCj7slBJ60VSQgw,Steven,1204,2007-07-08 16:56:40,4907,2674,2718,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2016","T-CVPEYAAJFWGzXaxSt8eg, zyhHd6AeavKVdOAXAPz-DQ...",89,...,14,12,6,4,79,141,183,183,57,12
1,4mjnkd8oJVCfBKN3i4rB-g,Tricia,1247,2008-11-27 02:24:47,3967,2631,2491,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2018","RO3vznPVVw5NWcgfP3k17A, azPMZoWkxdyjpnFul3aBQw...",141,...,26,25,15,10,127,236,227,227,124,102
2,ZdYHJ-hctaaDeH1CpP7-EA,Colleen,266,2009-08-08 16:46:46,491,103,152,"2010,2011,2012,2013,2014","ouODopBKF3AqfCkuQEnrDg, QowYhZNL0T3UOi1FLG5VYQ...",11,...,4,2,3,0,14,16,17,17,5,3
3,JWgti_adPZywG9SKUbnB-w,Sarah,141,2007-11-12 02:56:43,227,76,42,2015,"-X2qJ65I4Gz3UznpJqqS7Q, XrrXU5whFrQo_3wpiKhpaw...",1,...,2,0,0,0,5,3,5,5,2,1
4,PIzmdHF7p9GwXhwt3b3JxQ,Sasuke,112,2008-07-15 19:06:06,154,57,35,NaN,"wPkrThYsvs-pii7Ac1Hk9w, nO4bSABjYmR3MVvVjC0EeQ...",7,...,3,0,0,0,3,4,1,1,4,0

In [23]:
#Check missing values
user_df.isnull().sum()

user_id                   0
name                      0
review_count              0
yelping_since             0
useful                    0
funny                     0
cool                      0
elite                 11743
friends                   0
fans                      0
average_stars             0
compliment_hot            0
compliment_more           0
compliment_profile        0
compliment_cute           0
compliment_list           0
compliment_note           0
compliment_plain          0
compliment_cool           0
compliment_funny          0
compliment_writer         0
compliment_photos         0
dtype: int64

In [24]:
user_df['is_elite'] = ~np.array(user_df.elite.isnull())
user_df.is_elite.describe()

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

count     12859
unique        2
top       False
freq      11743
Name: is_elite, dtype: object

In [25]:
# too many values, may be just take year.
len(user_df.yelping_since.unique())

12859

In [27]:
# get the year
yr_ls = [eval(x.split('-')[0]) for x in user_df.yelping_since]
user_df['year'] = yr_ls
user_df

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,is_elite,year
0,fcNU65OaCj7slBJ60VSQgw,Steven,1204,2007-07-08 16:56:40,4907,2674,2718,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2016","T-CVPEYAAJFWGzXaxSt8eg, zyhHd6AeavKVdOAXAPz-DQ...",89,...,6,4,79,141,183,183,57,12,True,2007
1,4mjnkd8oJVCfBKN3i4rB-g,Tricia,1247,2008-11-27 02:24:47,3967,2631,2491,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2018","RO3vznPVVw5NWcgfP3k17A, azPMZoWkxdyjpnFul3aBQw...",141,...,15,10,127,236,227,227,124,102,True,2008
2,ZdYHJ-hctaaDeH1CpP7-EA,Colleen,266,2009-08-08 16:46:46,491,103,152,"2010,2011,2012,2013,2014","ouODopBKF3AqfCkuQEnrDg, QowYhZNL0T3UOi1FLG5VYQ...",11,...,3,0,14,16,17,17,5,3,True,2009
3,JWgti_adPZywG9SKUbnB-w,Sarah,141,2007-11-12 02:56:43,227,76,42,2015,"-X2qJ65I4Gz3UznpJqqS7Q, XrrXU5whFrQo_3wpiKhpaw...",1,...,0,0,5,3,5,5,2,1,True,2007
4,PIzmdHF7p9GwXhwt3b3JxQ,Sasuke,112,2008-07-15 19:06:06,154,57,35,NaN,"wPkrThYsvs-pii7Ac1Hk9w, nO4bSABjYmR3MVvVjC0EeQ...",7,...,0,0,3,4,1,1,4,0,False,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12854,Qy4LuK2Fnhuvwlj4Np88RA,Chris,1,2015-03-02 21:37:10,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2015
12855,AKP1vt9eeyVISZYc2G0WOQ,Katie,7,2010-06-15 01:52:50,2,0,1,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2010
12856,YfVGrr7SqPI1NY-mx9jfUw,Liz,2,2018-03-19 22:18:34,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2018
12857,lcd1uiaw4sZd7wGxpHbd0w,Lisa,3,2014-08-03 22:23:27,4,1,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2014
12858,mSF19ZUrbwdYkdBF_4V2hQ,Kristi,9,2013-01-18 17:09:51,3,2,0,NaN,None,0,...,0,0,0,0,0,0,0,0,False,2013

In [28]:
user_df.to_csv("D:/yelp/IL_users.csv")